.first-container{
    margin-top: 80px;
}

.titulo{
    text-transform: uppercase;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
    border-top: 2px solid rgb(170, 167, 167);
    border-bottom: 2px solid rgb(170, 167, 167);
}

.main-container{
    display: flow-root;

}
.izquierda{

    float: left;

}

.izquierda > h2{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 40px;
    margin-left: 50px;
    margin-top: 40px;
}

.izquierda > p:first-of-type{
    font-weight: bold;
    margin-top: 10px;
    margin-left: 50px;
    font-size: 15px;
}

.izquierda > p:nth-of-type(2){
    margin-top: 10px;
    margin-left: 50px;
    
}

.right{
    float: right;
    margin-right: 30%;
    display: flow-root;
}

label, input,textarea{
    display: block;
    margin: 10px;
    padding: 5%;
    padding-right: 200%;
    text-transform: uppercase;
}
button{
border-radius: 10px;
    background-color: rgb(31, 30, 30);
    color: white;
    text-decoration: none;
    font-size: 16px;
    padding: 2px 20px;
    cursor: pointer;
    margin-left: 250%;
}

.contact{
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
}